version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: fedlearn-backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    volumes:
      - ./server/data:/app/data
    networks:
      - proxy

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: fedlearn-frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    networks:
      - proxy
      - default

volumes:

networks:
  proxy:
    external: true
