flask
zope.interface
zope.event
tensorflow==2.10.1
numpy==1.23.5
gevent
scipy>=1.7.3
greenlet
click
blinker
Werkzeug==2.2.3
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.3
flask_socketio==5.3.6
python-socketio==5.7.2
python-engineio==4.3.4
bidict
requests
protobuf==3.19.6
h5py
gevent-websocket==0.10.1
